apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpd-deployment
  namespace: test2
  labels:
    app: httpd
    workload: demo-workload
spec:
  replicas: 1
  selector:
    matchLabels:
      app: httpd
  template:
    metadata:
      labels:
        app: httpd
    spec:
      containers:
      - name: httpd
        image: httpd:2.4-alpine
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80

