apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Prometheus Server — chart chính thức
# Repo: https://prometheus-community.github.io/helm-charts

helmCharts:
  - name: prometheus
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: prometheus
    namespace: monitoring
    valuesFile: values.yaml

