apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-workload-2
  namespace: test-1
  labels:
    app: nginx
    workload: nginx-workload-2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25-alpine
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80

