# Values cho Helm chart ingress-nginx (cùng repo với Argo CD)
controller:
  service:
    type: LoadBalancer
    loadBalancerIP: 192.168.56.200
  config:
    use-forwarded-headers: "true"
  metrics:
    enabled: true
