app:
  name: ingress-nginx
  namespace: ingress-nginx
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.9.0
  values: |
    controller:
      service:
        type: LoadBalancer
        loadBalancerIP: 192.168.56.200
      config:
        use-forwarded-headers: "true"

