ingress-nginx:
  controller:
    service:
      type: NodePort 
      # type: LoadBalancer # Uncomment if you install MetalLB later
      nodePorts:
        http: 30080
        https: 30443
      externalTrafficPolicy: Local
    config:
      use-forwarded-headers: "true"
