apiVersion: v1
kind: Service
metadata:
  name: gitlab
  namespace: devops-tools
  labels:
    app: gitlab
spec:
  type: NodePort
  selector:
    app: gitlab
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30081
    - name: ssh
      port: 22
      targetPort: 22
      nodePort: 30022

