apiVersion: v1
kind: Service
metadata:
  name: httpd-service
  namespace: test2
  labels:
    workload: demo-workload
spec:
  type: NodePort
  selector:
    app: httpd
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30082

